.top{
    background-color: aquamarine;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0; 
    border-bottom: 10px solid green;
}
.link{
    Font-weight: bolder; 
    font-size: xx-large;
    color: blue;
    display: inline
}
#picture{
    border: 15px blue; 
    border-style: solid; 
    display: block
}